/* CSS Stylesheet */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  text-align: center;
  height: 40vh;
  width: 100%;
  padding: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: 30px;
}

.results-container {
  height:15%;
  margin-top: 30px;
}

.header {

  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
}

.subheader {
  margin-top: 20px;
  font-size: 1rem;
}

input {
  text-align: center;
  width: 320px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 24px;
  border-style: ridge;
  background-color:  #E5E5CB;
}

.input-wrapper { 
  position: relative; 
  display: inline-block; 
} 

.input-wrapper input { 
  padding-right: 0px; 
} 

.input-wrapper button { 
  position: absolute; 
  top: 18px; 
  right: 20px; 
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
} 

.check-btn {
  border-radius: 28px;
  border: none;
  padding: 15px;
  width: 180px;
  margin-top: 20px;
  background-color: #4D869C;
  color: white;
  font-size: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.check-btn:hover {
  background-color: #346478;
}

.check-btn:active {
  transform: translateY(2px);
}

.format-btn {
  margin-top: 10px;
  background: none;
  border: none;
  color: #346478;
  text-decoration: underline;
  transition: transform 0.3s ease-in-out;
}

.format-btn:hover {
  transform: translateY(-3px);
}

.result-header {
  font-size: 2rem;
}

.result-content {
  margin-top: 20px;
  font-size: 2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 50% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.5rem;
}

ul {
  list-style:circle;
  margin-left: 120px;
}

li {
  margin: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}